/* You can add global styles to this file, and also import other style files */
// @import 'scss/theme';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-second-header-row {
    font-style: italic;
}

.example-second-footer-row {
    background-color: aqua;
    color: red;
}


body, html {
  margin: 0;
  height: 100%;
}

a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
